<!DOCTYPE html>
<html>
<div class="panel panel-default" style="margin-left: 200px; margin-right: 200px">
   <div class="panel-heading">
     <h3 class="panel-title text-center" style="font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">London</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="col-md-6">
         <ul>
           <li type="square"><p class='text'>Address: 58-60 Kensington Church Street, London, W8 4DB
           </p></li>
           <li type="square"><p class='text'>Telephone: +44 (0)798 36 04 913
           </p></li>
           <li type="square"><p class='text'>For all information, send email to alix.laur@clermount.co.uk
           </p></li>
          </ul>
       </div>
       <div class="col-md-6">
         <img src="/images/Clermount.png" class="img-rounded" style="width: 450px; height: 200px">
           <!-- <div id="map"></div>
            <script>
              function initMap() {
                var uluru = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhPtuAD_eFNKGwymJpZ10QoiGPtSSXqoQ&callback=initMap">
            </script>
         </div> -->
       </div>
     </div>
   </div>
</div>
<div class="panel panel-default" style="margin-left: 200px; margin-right: 200px">
   <div class="panel-heading">
     <h3 class="panel-title text-center" style="font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">Paris</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="col-md-6">
         <ul>
           <li type="square"><p class='text'>Address: Clermount IIA, 166 rue Saint-Maur, 75011 Paris, France
           </p></li>
           <li type="square"><p class='text'>Telephone: +33 (0)6 62 90 74 11
           </p></li>
          </ul>
       </div>
       <div class="col-md-6">
       </div>
     </div>
   </div>
</div>

</html>
