<!DOCTYPE html>
<html>
<style>

#panel-heading {
  letter-spacing: 2px;
  color: blue;
  font-size:18px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

</style>
<div id="mytext" style="margin-top:30px">
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
      <div class="panel-heading text-center" id="panel-heading">Contact us</div>
      <div class="panel-body">
          <p class='text'>Address: Clermount LTD, 56 Lexham Gardens, W8 5JA London, United Kingdom
          </p>
          <p class='text'>Telephone: +44 (0)798 36 04 913
          </p>
          <p class='text'>E-mail: info@clermount.co.uk
          </p>
      </div>
    </div>
  </div>
</div>
</html>
