<!DOCTYPE html>
<html>
<style>

#panel-heading {
  letter-spacing: 2px;
  color: blue;
  font-size:18px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

</style>
<div id="mytext" style="margin-top:30px">
</div>
<div class="well text-center" style="margin-left: 15px; margin-right: 15px">
  <div class="row">
    <div class="col-md-4 nopadding">
      <img src="/images/solar_farm.jpg" alt="Solar Farm" style="width: 450px;height: 300px;">
    </div>
    <div class="col-md-4 nopadding">
      <img src="/images/roof_panel.jpg" alt="Roof Panel" style="width: 450px;height: 300px;">
    </div>
    <div class="col-md-4 nopadding">
      <img src="/images/wind_farm.jpg" alt="Wind Farm" style="width: 450px;height: 300px;">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
      <div class="panel-heading text-center" id="panel-heading" >Who we are</div>
      <div class="panel-body">
          <p class='text'>Clermount is a financial advisory boutique focused on impact investment.
          </p>
          <p class='text'>Services: origination and execution of M&A transactions and fundraising.
          </p>
          <p class='text'>Main sector focus: renewable energies, power, utilities and infrastructures in frontier markets.
          </p>
          <p class='text'>Objectives & Philosophy: aiming for excellence and highest work ethics in order to best serve our impact investor clients.   
          </p>
      </div>
    </div>
  </div>
</div>
</html>
