<!DOCTYPE html>
<html>
<style>

#panel-heading {
  letter-spacing: 2px;
  font-size:18px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

</style>
<div id="mytext" style="margin-top:30px">
</div>
<div class="well text-center" style="margin-left: 15px; margin-right: 15px">
  <div class="row">
    <div class="col-md-4 ">
      <img src="/images/solar_farm.jpg" class="img-responsive" alt="Solar Farm" style="width: 450px;height: 280px;">
    </div>
    <div class="col-md-4">
      <img src="/images/mobile_money.jpg" class="img-responsive" alt="Wind Farm" style="width: 450px;height: 280px;">
    </div>
    <div class="col-md-4">
      <img src="/images/Electric.jpg" class="img-responsive" alt="Dam" style="width: 450px;height: 280px;">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
      <div class="panel-heading text-center" id="panel-heading" >Who we are</div>
      <div class="panel-body">
        <ul>
          <li type="square"><p class='text'>Clermount is a financial advisory boutique focused on companies and organizations seeking to achieve a positive impact alongside a financial return.
          </p></li>
          <li type="square"><p class='text'>Our sector focus: cleantechs, transformational technologies, sustainable agriculture & food, education and healthcare services in both developed and frontier markets.
          </p></li>
          <li type="square"><p class='text'>Our core expertise: Clermount helps companies and investors active in the impact space to raise equity and debt.
          </p></li>
          <li type="square"><p class='text'>Our two-step approach: we help our clients to (i) define consistent operational, financial and fundraising objectives and (ii) find the best financial or industrial partners to support their strategy by leveraging our international network.</p></li>
          <li type="square"><p class='text'>Our ambition: be the premier financial advisory boutique in the impact arena by delivering cutting-edge advice and fresh perspectives to our clients.</p>
          </p></li>
          <li type="square"><p class='text'>Our values: Clermount was founded based on the values underlying impact investing: responsibility, sustainability and the firm belief that financial services should also contribute to improving lives and the environment we live in. We also adhere to the highest standards of work ethics and aim for excellence in serving our clients.</p>
          </p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</html>
