<!DOCTYPE html>
<html>
  <head>
    <title>Clermount</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand" id="brand">Clermount</a>

          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">ABOUT</a></li>
              <li><a href="/Team">TEAM</a></li>
              <li><a href="/News">NEWS</a></li>
              <li><a href="/Contact">CONTACT</a></li>
            </ul>
          </div>
      </div>
    </div>
    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
  <footer class="footer">
    <div class="container">
      <p>Copyright (c) Clermount Limited. All rights reserved</p>
    </div>
  </footer>
</html>
