<!DOCTYPE html>
<html>
  <head>
    <title>Clermount</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
    <style>

    .navbar {
      position: fixed;
    }
    .navbar .nav > li {
      z-index: 1;
    }

    #brand {
      color: blue;
      letter-spacing: 2px;
    }
    #bs-example-navbar-collapse-1 ul {
      color: #333;
    }
    .container {
      height: 50px;
    }
    .navbar-default {
      background: #F7F7F7;
    }

    </style>
  </head>
  <body>
    <header class="navbar-default" role="banner">
      <div class="container">
        <nav class="navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" id="brand">Clermount</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/" style="color: #333;">ABOUT</a></li>
                <li><a href="/Team" style="color: #333;">TEAM</a></li>
                <li><a href="/Contact" style="color: #333;">CONTACT</a></li>
              </ul>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
