<!DOCTYPE html>
<html>
<div id="mytext" style="margin-top:20px">
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
   <div class="panel-heading">
     <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">December 2017 - Sunna Design raises 7 million euros to deploy its industrial and commercial strategy</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="well text-center" style="margin-left: 15px; margin-right: 15px">
         <div class="row">
           <div class="col-md-6 ">
             <img src="/images/Sunna12.jpg" class="img-responsive" alt="Women" style="width: 590px;height: 300px;">
           </div>
           <div class="col-md-6">
             <img src="/images/Sunna22.jpg" class="img-responsive" alt="Products" style="width: 570px;height: 300px;">
           </div>
         </div>
       </div>
       <div class="col-md-12">
         <ul>
         <li type="square"><p class='text'>Sunna Design today announced a €7 million fundraising which should enable it to deal successfully with new international markets by strengthening its commercial and industrial capacities.
         </p></li>
         <li type="square"><p class='text'>Having developed pioneering technologies such as its range of smart solar street lights, Sunna Design has the means to pursue its development in the promising field of connected solar street lights for smart cities by launching a groundbreaking offer that combines energy and digital.
         </p></li>
         <li type="square"><p class='text'>In addition to the new blue-chip investors such as BNP Paribas, Sunna Design received the continuous support of the historic shareholders who accompanied us during the previous round of € 5 million in December 2014. The participation of institutions and experts in the financing round validates Sunna's strategy that is focused on synergies between solar power, LED, storage and digital embedded in quality products to meet the needs of sunny and emerging countries. With its maintenance-free solar street lights designed to last 10 years, Sunna Design is well placed for convincing local buyers who are now demanding and sensitive to the notions of climate resilience and lifespan.
         </p></li>
         <li type="square"><p class='text'>For Pierre François, former CEO of Sicame Group and new investor “Sunna has developed a very coherent approach, by first positioning proprietary technologies, and by structuring strategic partnerships with industry leaders such as Schneider Electric and Thorn Lighting. Now the company is strengthening its industrial capabilities with a concept: the factory of the future, flexible and easy to set up as close as possible to targeted markets. I was taken by the Sunna teams’ agility and thorough understanding in the field.”
         </p></li>
         <li type="square"><p class='text'>The fundraising will also allow to continue the development, under the Moon brand, of a new business providing access to energy and digital services for rural populations of Africa by allowing them to enter into a virtuous circle of cost savings and generation of income. Launched eighteen months ago, Moon has already proven its relevance in Senegal, where hundreds of customers already buy Moon kits composed of a solar system and a smartphone using the pay-as-you-go system. Sunna Design’s energy access business was partly funded by the crowdlending platform of Solylend, together with well-known donors such as the French Development Agency, the French Treasury through its FASEP tool, and most recently, USAID.
         </p></li>
         <li type="square"><p class='text'>Clermount acted as sole financial advisor to Sunna Design in this transaction.
         </p></li>
       </ul>
       </div>
     </div>
   </div>
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
   <div class="panel-heading">
     <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">November 2017 - Greenlight Planet Raises $60 MM for Off-Grid Solar Financing Business</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="well text-center" style="margin-left: 15px; margin-right: 15px">
         <div class="row">
           <div class="col-md-6 ">
             <img src="/images/Greenlight1.jpg" class="img-responsive" alt="Women" style="width: 590px;height: 300px;">
           </div>
           <div class="col-md-6">
             <img src="/images/Greenlight2.jpg" class="img-responsive" alt="Products" style="width: 570px;height: 300px;">
           </div>
         </div>
       </div>
       <div class="col-md-12">
         <ul>
         <li type="square"><p class='text'>London-based private equity fund manager Apis Partners and other investors announced disbursement of $60 MM in new funding to Greenlight Planet Inc., the leading provider of off-grid solar products and solar financing for underserved populations around the world.
         </p></li>
         <li type="square"><p class='text'>Greenlight Planet, a growth-stage company with a mandate to deliver social as well as financial returns, disclosed that it has been profitable in each of the last 10 financial quarters.
         </p></li>
         <li type="square"><p class='text'>Greenlight Planet announced that it now operates the world's largest direct-to-consumer, pay-as-you-go (PAYG) solar product distribution business, with over 2,400 company-managed sales agents in five countries, selling more than 25,000 solar products to off-grid consumers each month. Using mobile money systems, customers pay for their solar energy products over time, for as little as 25 cents per day. After six to eight months, they own the solar product outright, making solar energy more affordable than traditional electrical grid power.
         </p></li>
         <li type="square"><p class='text'>Greenlight’s line of Sun King™ solar-powered products, now used by nearly 30 million consumers in 62 countries, includes lighting, home energy systems, phone chargers, radios, fans, and soon-to-be-released televisions. The company began selling affordable solar home systems just three years ago, and has sold nearly 600,000 to date, now at a rate of over 1,000 solar home systems per day. Greenlight Planet partners with a network of more than 100 distributors, including retailers, NGOs, and over 40 micro-finance institutions, to provide sales and service for off-grid communities in 62 countries.
         </p></li>
         <li type="square"><p class='text'>Financing of off-grid solar home systems is a step toward broader financial inclusion for rural, unbanked consumers in emerging markets across Africa and Asia: Consumers without previous access to credit can build a credit history via the PAYG payment model, enabling Greenlight to offer them additional products and financial services in the future. Greenlight Planet will use the new debt and equity capital to expand its solar-energy product lines, distribution networks, and financing capabilities in Africa and Asia. There, over a billion people lack reliable access to electricity, finding it too expensive or unavailable.
         </p></li>
         <li type="square"><p class='text'>Clermount acted as sole financial advisor to Greenlight Planet in this transaction.
         </p></li>
       </ul>
       </div>
     </div>
   </div>
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
   <div class="panel-heading">
     <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">June 2017 - SOLARKIOSK partners with BESTSELLER FOUNDATION</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="well text-center" style="margin-left: 15px; margin-right: 15px">
         <div class="row">
           <div class="col-md-6 ">
             <img src="/images/SK1.JPG" class="img-responsive" alt="Women" style="width: 590px;height: 300px;">
           </div>
           <div class="col-md-6">
             <img src="/images/SK2.JPG" class="img-responsive" alt="Products" style="width: 570px;height: 300px;">
           </div>
         </div>
       </div>
       <div class="col-md-12">
         <ul>
         <li type="square"><p class='text'>At the end of June 2017 BESTSELLER FOUNDATION formalized an investment into SOLARKIOSK AG that will see SOLARKIOSK increase the number of kiosks – dubbed E-HUBBS – that it currently has in its core countries of operation in East Africa; Kenya, Tanzania and Rwanda. The solar panels that lend their name to the business are the backbone of mini-grids that can power E- HUBBS in a number of configurations depending on the context – e.g. a market place, a health center, a business hub or a mix thereof.
         </p></li>
         <li type="square"><p class='text'>The investment will enable SOLARKIOSK to set up an additional 85 E-HUBBS and with an average of 5,000 households in the catchment area of each E-HUBB some 425,000 households will feel the difference a nearby E-HUBB makes. In addition E-HUBB operators will be recruited locally – in some places one and in other places two – which will create direct employment for approximately 120 people.
         </p></li>
         <li type="square"><p class='text'>There’s a strong mission alignment between BESTSELLER FOUNDATION and SOLARKIOSK which provides the basis for a solid partnership that will enable, empower and enhance the sustainable economic development of communities at the base of the pyramid.
         </p></li>
         <li type="square"><p class='text'>Clermount acted as sole financial advisor to SOLARKIOSK in the context of their equity raising.
         </p></li>
       </ul>
       </div>
     </div>
   </div>
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
   <div class="panel-heading">
     <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">October 4th, 2016 - Mobisol completes the largest equity raising in the off-grid solar sector so far</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="well text-center" style="margin-left: 15px; margin-right: 15px">
         <div class="row">
           <div class="col-md-3 ">
             <img src="/images/Mobisol4.jpg" class="img-responsive" alt="Women" style="width: 310px;height: 300px;">
           </div>
           <div class="col-md-5">
             <img src="/images/mobisol2.jpg" class="img-responsive" alt="Thomas" style="width: 550px;height: 300px;">
           </div>
           <div class="col-md-4">
             <img src="/images/Mobisol3.jpg" class="img-responsive" alt="Products" style="width: 550px;height: 300px;">
           </div>
         </div>
       </div>
       <div class="col-md-12">
         <ul>
         <li type="square"><p class='text'>Investec Asset Management, through its African private equity capability, has acquired a significant shareholding in Mobisol, a leading and rapidly-growing provider of off-grid solar home systems (SHS) in Africa in the biggest yet round of equity financing for the off-grid solar industry.
         </p></li>
         <li type="square"><p class='text'>Mobisol, based in Berlin, makes rooftop solar systems that generate electricity in places that aren’t connected to the power grid. Their largest 200W product can power lights, mobile phones, a radio, a small TV and refrigerator. The company has 60,000 customers in Tanzania and Rwanda, and recently expanded to Kenya. It’s grown 80 percent year on year in 2016 and plans to move into Uganda and Nigeria in the next two years while continuing to scale in its existing markets.
         </p></li>
         <li type="square"><p class='text'>A three-year payment plan makes the systems highly affordable while a significant proportion of customers are also able to generate income from their SHS, for example by providing a mobile phone charging service or by running productive electrical equipment in businesses, such as hair clippers in barber shops. The use of innovative mobile technology such as mobile money, allows customer payments and remote system monitoring to be carried out in a cost and time-efficient manner.
         </p></li>
         <li type="square"><p class='text'>The off-grid solar industry emerged from non-existence a decade ago to a market worth about $700 million in 2015, according to Bloomberg New Energy Finance.
         </p></li>
         <li type="square"><p class='text'>Pay-as-you go solar companies have mostly received investments from impact or strategic investors so far. Mobisol’s round with Investec breaks this mold, bringing in a private equity player and signaling that the sector is changing from impact-driven to a purely commercial opportunity.
         </p></li>
         <li type="square"><p class='text'>Clermount acted as sole financial advisor to Mobisol in this transaction.
         </p></li>
       </ul>
       </div>
     </div>
   </div>
</div>

</html>
