<!DOCTYPE html>
<html>
<div id="mytext" style="margin-top:20px">
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
   <div class="panel-heading">
     <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">Julien Deconinck, Managing Director</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="col-md-2">
         <img src="/images/JulienBW.jpg" class="img-rounded" style="width: 150px; height: 150px">
       </div>
       <div class="col-md-10">
         <ul>
         <li type="square"><p class='text'>Julien has a 15-year experience in corporate finance and advised on M&A transactions representing an aggregate value of more than EUR 40 billion.
         </p></li>
         <li type="square"><p class='text'>Before founding Clermount, Julien was Executive Director in the Corporate Finance department of Societe Generale CIB where he focused on the Power, Utilities & Infratructures and the Consumer & Retail sectors. Prior to joining Societe Generale, Julien was an investment banker at Lazard and HSBC and an investment manager at Parcom Capital.
         </p></li>
         <li type="square"><p class='text'>Julien is a non-voting board member of Tarkett a leading flooring product manufacturer and a reference in the circular economy.
         </p></li>
         <li type="square"><p class='text'>He graduated from Ecole des Hautes Etudes Commerciales (HEC) in Paris and from Makers Academy in London.
         </p></li>
       </ul>
       </div>
     </div>
   </div>
</div>
 <div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
   <div class="panel-heading">
     <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
    font-size: 16px; letter-spacing: 1px;">Denis Viennot, Managing Director</h3>
   </div>
   <div class="panel-body">
     <div class="row">
       <div class="col-md-2">
         <img src="/images/DenisBW.png" class="img-rounded" style="width: 150px; height: 150px">
       </div>
       <div class="col-md-10">
         <ul>
         <li type="square"><p class='text'>Denis is an investment professional and entrepreneur with a 16-year experience in corporate finance, clean energy and international development.
         </p></li>
         <li type="square"><p class='text'>Most  recently, he was in charge of clean energy programs at the European Bank for Reconstruction & Development, where he developed, amongst other, a $250 million facility in support of renewable energy projects in the MENA region. Prior to that, Denis was a Director at GE Capital in Paris and London until 2009, advising on large project and leverage finance transactions, before becoming  partner and shareholder of Reenergise Group, an innovative UK green energy company supported by UK's Green Investment Bank.</p></li>
         <li type="square"><p class='text'>Denis began his career in M&A at UBS Warburg in London. He graduated from ESSEC in Paris.</p></li>
       </ul>
       </div>
     </div>
   </div>
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
  <div class="panel-heading">
    <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
   font-size: 16px; letter-spacing: 1px;">Marc Laur, Senior Advisor - Cleantechs</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="/images/MarcBW.jpg" class="img-rounded" style="width: 150px; height: 150px">
      </div>
      <div class="col-md-10">
        <ul>
        <li type="square"><p class='text'>Marc Laur was born in 1957. After graduating from Ecole Centrale Paris as an engineer, he held various executive and management positions in  the industrial sector.
        </p></li>
        <li type="square"><p class='text'>Marc began his career at Matra Group, as production and project manager. He moved on to Sommer Alibert Industrie (Faurecia), where he was responsible for different plants and subsidiaries in France and internationally before contributing, within the Industrial Direction, to the company's strong development. In 1998, he becomes Managing Director of Aries Industries and, following the company’s acquisition by Wagon Automotive, a British industrial conglomerate, he is appointed MD Operations, Wagon Automotive Group, to manage its growth. In a similar context of rapid development, the position of Chief Industrial Officer is created for him at Eurocopter Group.</p></li>
        <li type="square"><p class='text'>After developing industrial services and engineering activities as President of Segula Aerospace, he joins the Areva group as MD, Operations of the Renewable Energy activities in 2010, before becoming Managing Director of Areva's Bioenergy branch, a sector leader  with operations in Asia, South America and Europe.</p></li>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
  <div class="panel-heading">
    <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
   font-size: 16px; letter-spacing: 1px;">Axel Coustere, Senior Advisor - Digital Technologies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="/images/Axel.png" class="img-rounded" style="width: 140px; height: 150px">
      </div>
      <div class="col-md-10">
        <ul>
        <li type="square"><p class='text'>Axel co-founded The Hub Exchange, a leading provider of infrastructure for private, sophisticated and institutional investment networks ranging from early stage communities to Stock Exchanges.
        </p></li>
        <li type="square"><p class='text'>His experience in investment banking and technology start-ups brings unique skills vital to bridge finance and technology. Axel helps define The Hub Exchange’s vision to build the infrastructure to help grow, support and connect all stakeholders in the private market ecosystem.</p></li>
        <li type="square"><p class='text'>Axel is specialist in capital markets and technology. He helped originate and execute dozens of billion dollar debt and equity-linked funding transactions for FTSE 100 and other blue chip companies. In 2007 he left investment banking to immerse himself to learn the latest technologies and how to code. He developed a number of online platforms, including prototypes of financing and information platforms.</p></li>
        <li type="square"><p class='text'>Axel served on 3 Company Boards and managed several tech projects from inception.</p></li>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" style="margin-left: 15px; margin-right: 15px">
  <div class="panel-heading">
    <h3 class="panel-title" style="margin-left: 15px; margin-right: 15px; font-family: Helvetica,Arial,sans-serif;
   font-size: 16px; letter-spacing: 1px;">Hicham Bayali, Senior Advisor - Emerging Markets & Microfinance</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="/images/HichamBW.png" class="img-rounded" style="width: 150px; height: 150px">
      </div>
      <div class="col-md-10">
        <ul>
        <li type="square"><p class='text'>Hicham Bayali spent 10 years of his career with the International Finance Corporation (IFC), the investment banking arm of the World Bank Group for the private sector, where he led large advisory and investment transactions for the Financial Institutions Group department (FIG) across the EMENA regions. In 2012, he was nominated as a Global Business Leader within the IFC.
        </p></li>
        <li type="square"><p class='text'>Mr. Bayali began his career as an auditor with KPMG Peat Marwick in 1997 before he joined the corporate finance department of Vivendi Universal. In 2000, M. Bayali joined Citigroup’s arm for North Africa, where he worked across the full spectrum of corporate banking services. In 2003, M. Bayali joined the microfinance industry as the Chief Financial Officer of Zakoura, the largest microfinance institution in MENA and Africa at that time, before he joined the IFC in 2006.</p></li>
        <li type="square"><p class='text'>In 2016, Hicham Bayali founded Atrium Finance, an independent investment bank based in Rabat, to focus on strategic and financial advisory services for a broad range of Africa and Middle East-based clients.</p></li>
        <li type="square"><p class='text'>Hicham Bayali holds a Master in Finance from Paris-Dauphine University, a Master in Accounting and Finance from Bordeaux-Montesquieu University and a Master in Business Law.</p></li>
      </ul>
      </div>
    </div>
  </div>
</div>
</html>
